a{
	text-decoration: none;
}

body{
	font-family: Arial;
}

p{
	font-size: 13px;
}

#header{
	font-size: 13px;
	color: black;
	height: 20px;
	width: 500px;
	position: fixed;
	margin-left: 1105px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: table-cell;
    padding: 8px;
    vertical-align: middle;
}

#name{
	color: #808080;
}

#apps{
	opacity: 0.6;
}

#notifications{
	padding-right: 0px;
}

#notifications:hover{
	opacity: 0.7;
}

#initial{
	padding-left: 0px;
}

#center_piece{
	text-align: center;
}

#logo{
	width: 272px;
	height: 92px;
	padding-top: 180px;
}

#search_box{
	display: block;
	height: 32px;
	width: 572px;
	margin: 16px auto 8px auto;
	border: 1px solid #D8D8D8;
}

input[type=text]:hover{
	outline:solid 1px #D0D0D0;
}

.search_button{
	height: 36px;
	background-color: #f2f2f2;
	border: 1px solid #f2f2f2;
	border-radius: 2px;
	color: #757575;
	font-size: 13px;
	font-weight: bold;
	margin: 11px 4px;
	padding:0 16px;
}

button:hover{
	outline:solid 1px #D0D0D0;
	color: #484848
}

a:hover{
	text-decoration: underline;
}

#header a:visited{
	color:inherit;
}

#center_piece a{
	color: blue;
}

#footer{
	margin-top: 300px;
	font-size: 13px;

	color: black;
	position: fixed;
	vertical-align: bottom;
}

hr{
	opacity: 0.3;
}

#gap{
	width: 725px;
}

#footer li{
    display: table-cell;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 8px;
    padding-top: 8px;
    vertical-align: middle;
}

#footer a{
	color: #808080;
}