a{
	text-decoration: none;
}

body{
	font-family: Arial;
}

#center_piece{
	text-align: center;
}

#logo{
	width: 272px;
	height: 92px;
	padding-top: 120px;
}

p{
	font-size: 13px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
}


#search_box{
	display: block;
	height: 32px;
	width: 572px;
	margin: 16px auto 8px auto;
	border: 1px solid #D8D8D8;
}

.search_button{
	height: 36px;
	background-color: #f2f2f2;
	border: 1px solid #f2f2f2;
	border-radius: 2px;
	color: #757575;
	font-size: 13px;
	font-weight: bold;
	margin: 11px 4px;
	padding:0 16px;
}



button:hover{
	outline:solid 1px #D0D0D0;
	color: #484848
}

input[type=text]:hover{
	outline:solid 1px #D0D0D0;
}

a:hover{
	text-decoration: underline;
}

#header a:visited{
	color:inherit;
}


/*
#center_piece a{
	color: blue;
}
*/

#center_piece a:visited{
	color:inherit;
}


#header{
	text-align: right;
	font-size: 13px;
	color: black;
}
