a{
	text-decoration: none;
}

body{
	font-family: Arial;
}

#center_piece{
	text-align: center;
}

#logo{
	width: 272px;
	height: 92px;
	padding-top: 120px;
}

#search_box{
	display: block;
	height: 32px;
	width: 572px;
	margin: 16px auto 8px auto;
	border: 1px solid #D8D8D8;
}

.search_button{
	height: 36px;
	background-color: #f2f2f2;
	border: 1px solid #f2f2f2;
	border-radius: 2px;
	color: #757575;
	font-size: 13px;
	font-weight: bold;
	margin: 11px 4px;
	padding:0 16px;
}

button:hover{
	outline:solid 1px #D0D0D0;
	color: #484848
}

input[type=text]:hover{
	outline:solid 1px #D0D0D0;
}

p{
	font-size: 13px;
}
